<div class="register d-flex jc-c ai-c p-24 mt-48 mb-64 mb-md-32">
  <p class="h4 mr-24 mr-md-12">加入會員取得 9 折優惠</p>
  <button type="button" class="btn btn-dark">馬上註冊</button>
</div>
<footer class="container">
  <div class="d-flex jc-sb ai-c mb-24 mx-md-12 md-d-block px-md-12">
    <a href="#" class="mr-48">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week1/logo.svg"
        alt="LOGO"
      />
    </a>
    <ul class="d-flex ai-c md-d-block mb-md-24">
      <li class="py-12 mr-40 mb-md-4 px-md-12"><a href="#">商品列表</a></li>
      <li class="py-12 px-md-12"><a href="#">品牌故事</a></li>
    </ul>
  </div>
  <div class="copyright mb-64">
    <p class="pt-32 mb-4">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
