.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: #dee2e6;
  font-weight: 700;
}

.breadcrumb-item {
  display: flex;
  font-weight: 500;
}

.breadcrumb-link {
  color: #6c757d;
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
  .breadcrumb-item {
    font-size: 14px;
  }
}
