/* main CSS */
.category .active {
  color: #57a203;
}

.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}

.page-item .active {
  background-color: #c0fa73;
  font-weight: 500;
}
