<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>產品列表頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container pt-32 mb-32 mb-md-16">
      <nav class="mb-24 mx-md-12">
        <ol class="d-flex">
          <li class="breadcrumb-item">
            <a href="#" class="breadcrumb-link">首頁</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" class="breadcrumb-link">女鞋</a>
          </li>
          <li class="breadcrumb-item">所有商品</li>
        </ol>
      </nav>
      <h1 class="h3 mb-24 py-7 mx-md-12">女鞋</h1>
      <div class="row">
        <div class="col-2 md-d-none">
          <ul class="category">
            <li class="mb-16">
              <a href="#" class="d-block py-8 active">所有商品</a>
            </li>
            <li class="mb-16"><a href="#" class="d-block py-12">慢跑鞋</a></li>
            <li class="mb-16"><a href="#" class="d-block py-12">滑板鞋</a></li>
            <li class="mb-16"><a href="#" class="d-block py-12">厚底鞋</a></li>
            <li><a href="#" class="d-block py-12">限定/聯名企劃</a></li>
          </ul>
        </div>
        <div class="col-10 md-col-12 mx-md-12">
          <div class="row md-row">
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="./product.html">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                    alt="PLATFORM 404"
                  />
                  <h2 class="h6 mb-4">PLATFORM 404</h2>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                    alt="PLATFORM 404"
                  />
                  <h2 class="h6 mb-4">PLATFORM 404</h2>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                    alt="VM001"
                  />
                  <h2 class="h6 mb-4">VM001</h2>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                    alt="Melty Kiss"
                  />
                  <h2 class="h6 mb-4">Melty Kiss</h2>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                    alt="BOOMBLOK"
                  />
                  <h2 class="h6 mb-4">BOOMBLOK</h2>
                  <p>NT$3,200</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                    alt="BOOMBLOK"
                  />
                  <h2 class="h6 mb-4">BOOMBLOK</h2>
                  <p>NT$3,200</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                    alt="R:UNER"
                  />
                  <h2 class="h6 mb-4">R:UNER</h2>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                    alt="Sugar Snap"
                  />
                  <h2 class="h6 mb-4">Sugar Snap</h2>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                    alt="Neofoam"
                  />
                  <h2 class="h6 mb-4">Neofoam</h2>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="d-none md-d-block col-4 md-col-6 px-md-6">
              <div class="mb-48 mb-md-24">
                <a href="#">
                  <img
                    class="mb-12"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
                    alt="Buttermood"
                  />
                  <h2 class="h6 mb-4">Buttermood</h2>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
          </div>
          <ul class="d-flex jc-c ai-c">
            <li class="mr-12 page-item">
              <button type="button" class="btn" disabled>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                  />
                </svg>
              </button>
            </li>
            <li class="mr-8 page-item">
              <button type="button" class="btn active">1</button>
            </li>
            <li class="mr-8 page-item">
              <button type="button" class="btn">2</button>
            </li>
            <li class="mr-8 page-item">
              <button type="button" class="btn">3</button>
            </li>
            <li class="mr-8 page-item">
              <button type="button" class="btn">...</button>
            </li>
            <li class="mr-8 page-item">
              <button type="button" class="btn">10</button>
            </li>
            <li class="page-item">
              <button type="button" class="btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
